@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./assets/fonts/GTWalsheimPro-Regular.ttf");
}

body {
  font-family: "GT Walsheim Pro";
  width: 100vw;
  overflow: hidden;
}