@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./assets/fonts/GTWalsheimPro-Regular.ttf");
}

body {
  font-family: "GT Walsheim Pro";
  width: 100vw;
  overflow: hidden;
}

@keyframes radialreveal {
  0% {
    transform: scale(0);
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    border-radius: 0;
  }
}

.radialreveal {
  animation: radialreveal 1s ease-in-out;
}
