@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing my custom font */
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./assets/fonts/GTWalsheimPro-Regular.ttf");
}

body {
  font-family: "GT Walsheim Pro";
  width: 100vw;
  overflow: hidden;
}

.radialreveal {
  animation: radialreveal 0.5s ease-in-out;
}

/* animation sequence for radialreveal */
@keyframes radialreveal {
  0% {
    transform: scale(0);
    clip-path: circle(0% at 50% 50%);
  }

  50% {
    clip-path: circle(20% at 50% 50%);
  }

  100% {
    transform: scale(1);
    clip-path: circle(100% at 50% 50%);
  }
}
